<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <p></p>
  <div class="container">
    <div class="row">
      <a class="pull-right" href="../web/logout.php">
        <span class="glyphicon glyphicon-log-out"> Sair</span>
      </a>
    </div>
  </div>
  <p></p>
  <div class="container">
    <div class="row">
      <ol class="breadcrumb">
        <li class="active">Home</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <form class="form-inline" action="vehicle_search.php">
			<div class="form-group">
				<label for="plate">Placa do Veículo</label>
	      <input type="text" name="car_plate" class="form-control" id="plate" required>
			</div>

			<button type="submit" class="btn btn-primary">Enter</button>
		</form>
  </div>
</body>
</html>
